@import '@blueprintjs/core/lib/scss/variables.scss';
@import '@gms/ui-core-components/src/scss/core-colors.scss';

.qc-segment-selection-menu-table {
  height: 100%;
  width: 1000px;
  padding: 0.5rem 0rem 0rem 0rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  position: relative;
  min-height: 100px;
  .ag-cell-value {
    padding-left: 10px;
  }
}
